git+https://github.com/huggingface/accelerate.git
triton
transformers
ftfy
bitsandbytes==0.35.0
onnxruntime-gpu
onnxruntime-training
xformers>=0.0.19
torch>=2.0.0
torchvision
transformers>=4.25.1
ftfy
tensorboard
Jinja2
safetensors
xformers